{%extends 'base.html'%}

{% block titre %}
formulaire identification
{% endblock %}

{% block contenu %}
<h1>Identifier vous :</h1>

<form action="{{url_for('autoriser') }}" method="post">
    <label for="pseudo">pseudo : </label>
    <input type="text" name="pseudo" id="pseudo" value="Loic"> <br>

    <label for="mdp"> Mot de Passe : </label>
    <input type="text" name="mdp" id="mdp" value="Loic"> <br>

    <button type="submit"> Me Connecter </button>
</form>
<p id="enbas"></p>
<footer>Contact Breizhibus : breizhibus@bus.bzh</footer>
{% endblock %}