{% extends 'base.html' %}

{% block titre %}
    bienvenue
{% endblock %}

{% block contenu %}
    {% if reponse %}

        <h2>On est heureux de vous revoir {{ qui }} </h2>

        <a href = "{{url_for('ajouter_bus')}}">ajouter un bus</a>
        <p id="enbas"></p>
        <a href = "{{url_for('modifier_bus')}}">modifier un bus</a>
        <p id="enbas"></p>
        <a href = "{{url_for('supprimer_bus')}}">supprimer un bus</a>
        

    {% else %} 
        <h2> Vous n'avez pas les droits </h2>
    {% endif %}
{% endblock %}

